@import url('https://fonts.googleapis.com/css?family=Cherry+Swash&display=swap');
#header{
    grid-column: 1/5;
    grid-row: 1/2;
    background-image: url("../../images/beans.jpg");
    text-align: center;
    box-shadow: 0px 5px 8px #2c2b2b;
}
#header h1{
    font-size: 7vw;
    padding: 10px;
    font-family: 'Cherry Swash', cursive;
    color: rgb(0, 0, 0);
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255) ;
}